Assembly-CSharp.csproj
Library
.idea
*.csproj
*.user
Temp
obj
Logs
*.sln
UserSettings
Bundles
ProjectSettings/SceneTemplateSettings.json
unity_project/HybridCLRData
unity_project/yoo
unity_project/Assets/StreamingAssets/yoo
unity_project/Assets/StreamingAssets/yoo.meta
unity_project/_build
